/*clase para el footer, de momento solo define el color de fondo y padding*/
.colorFoot
{   grid-area:footer;
  background-color: #30475E;
    padding:2px;
}



.whatsapp:hover{
    transform:scale(2,2);
    transition:all 1s;
}


.copyright{

  color:#F69E7B;
  size: 16px;
  margin-left:35%;
  margin-top:40px;

}