

.sobreNosotros__titulos
{
text-align: left;
border-bottom:3px solid black;
font-style:oblique;
margin:10px;
padding:10px;
padding-bottom:0px;
margin-bottom:0px;

}

.sobreNosotros__imagen{
   height:200px; 
    width:150px;
    margin-bottom:10px;
    padding:10px;
}



