
@media (max-width:576px)
{
  .grilla
  {
  
      display: grid;
      grid-template-areas:
      "header "
      "titulo "
      "login " 
      "fotos "
      "opiniones "
     "footer";
  
    
     grid-template-rows: auto ;
     row-gap: 20px;
     column-gap: 10px; 
  }
  
  .titulo
  {
      grid-area:titulo;
      font-size: 50px;
      font-family: 'MonteCarlo', cursive;
      color:#30475E;
      text-align: center;

  
  }

  .header_menu_inline

  {
    display:none;

  }


}




  
  
@media (max-width:961px)
{
  .grilla
  {
  
    
    display: grid;
    grid-template-areas:
    "header "
    "titulo titulo"
    "login fotos" 
    "opiniones"
    "footer ";
  
    grid-template-columns: 1fr 1fr ;
    row-gap: 20px;
    column-gap: 10px; 
  }
  
  .titulo
  {
      grid-area:titulo;
      font-size: 50px;
      font-family: 'MonteCarlo', cursive;
      color:#30475E;
      text-align: center; 
  }

  .header_menu_inline

  {
    display: none;

  }

  
}
  