@import "./contacto";
@import "./footer";
@import "./header";
@import "./sobreNosotros";
/*@import "./query";*/



*{

    padding: 0px;
    margin: 0px;
}


/*clase para el body, de momento solo define el color de fondo*/
.colorFondo
{
    background-color:#F69E7B;
}




/*un poco de estilo para las letras en general*/
.parrafo
{
    font-size: 25px;
    font-style: italic;
    color:black;
    padding:10px;
    margin:10px;
}
/*texto sobre nosotros*/

/*H1 del index*/
.titulo
{
    grid-area:titulo;
    font-size: 70px;
    font-family: 'MonteCarlo', cursive;
    color:#30475E;
    text-align: center;

}
/*h2 del index, probando fuentes*/
.formulario__titulo
{

    font-size: 20px;
    color:#30475E;
    font-family: 'Gowun Dodum', sans-serif;
}








.links
{
    text-decoration: none;
    color:black;
    margin-left: 5px;
   
}






 
.formulario
{grid-area:login;
    display: flex;
    flex-direction: column;
    width: 300px;  
    border:5px solid #30475E;
    padding:0px 10px 10px 10px;
    margin: 10px;
    justify-content:space-evenly;
}







.grilla {
    display: grid;
    grid-template-areas:
     "header header header"
   "titulo titulo titulo"
   "login fotos vacio"
   "opiniones opiniones opiniones"
   "footer footer footer";
    grid-template-rows: 150px 200px 500px auto 100px;
    grid-template-columns: 30% 60% auto;
    row-gap: 20px;
    column-gap: 10px; 
}



.carousel
{
    grid-area:fotos;
    margin:10px;
}

.opiniones
{
    grid-area:opiniones;
}

.tarjeta{
    background-color:#DEB166;

}

.perfil__imagen{
    height:150px; 
     width:112px;
     margin:10px;
}

 .borde{

    border:black 10px solid;
    margin:10px;
    padding:10px;
    
}

.espacio{

    padding:5px;
    margin:5px;
   
}

.items{
background-color:#30475E ;
color:gold;
margin: 10px;
padding: 10px;

}




@media   (max-width:961px)
{
  .grilla
  {
  
      display: grid;
      grid-template-areas:
      "header  header"
      "titulo titulo"
      "login login" 
      "fotos fotos "
      "opiniones opiniones"
     "footer footer";
  
    
     grid-template-rows: auto;
     row-gap: 20px;
     column-gap: 10px; 
  }
  
  .titulo
  {
      grid-area:titulo;
      font-size: 50px;
      font-family: 'MonteCarlo', cursive;
      color:#30475E;
      text-align: center;

  
  }
  .topnav a {display: none;}
  .topnav a.icon {
    
    display: block;
  }
 
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  
  
  
}



@media   (max-width:576px)
{
  .grilla
  {
  
      display: grid;
      grid-template-areas:
      "header  header"
      "titulo titulo"
      "login login" 
      "fotos fotos "
      "opiniones opiniones"
     "footer footer";
  
    
     grid-template-rows: auto;
     row-gap: 20px;
     column-gap: 10px; 
  }
  
  .titulo
  {
      grid-area:titulo;
      font-size: 50px;
      font-family: 'MonteCarlo', cursive;
      color:#30475E;
      text-align: center;
 
  
}

.topnav a {display: none;}
.topnav a.icon {
  
  display: block;
}

.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}


